// Generated using xcconfig-extractor 0.6.1 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
INFOPLIST_FILE = FluxGithubAppTests/Info.plist
TEST_HOST = $(BUILT_PRODUCTS_DIR)/FluxGithubApp.app/FluxGithubApp
PRODUCT_BUNDLE_IDENTIFIER = takashico.FluxGithubAppTests
BUNDLE_LOADER = $(TEST_HOST)

